[submodule "Externals/PugiXml"]
	path = Externals/PugiXml
	url = https://github.com/zeux/pugixml.git
[submodule "Externals/SFML"]
	path = Externals/SFML
	url = https://github.com/SFML/SFML.git
[submodule "Externals/ImGuiSFML"]
	path = Externals/ImGuiSFML
	url = https://github.com/SFML/imgui-sfml.git
[submodule "Externals/ImGui"]
	path = Externals/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Externals/Dependencies/Freetype"]
	path = Externals/Dependencies/Freetype
	url = https://github.com/freetype/freetype.git
[submodule "Externals/Dependencies/Ogg"]
	path = Externals/Dependencies/Ogg
	url = https://github.com/xiph/ogg.git
[submodule "Externals/Dependencies/Flac"]
	path = Externals/Dependencies/Flac
	url = https://github.com/xiph/flac.git
[submodule "Externals/Dependencies/Vorbis"]
	path = Externals/Dependencies/Vorbis
	url = https://github.com/xiph/vorbis.git
